.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 90%;
  vertical-align: middle;
  align-content: center;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 80%;
  padding-bottom: 30%;
  border: 1px solid;
  top: 0;
  left: 10%;
}

.mock-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.mock-content {
  display: inline-block;
  position: absolute;
  background-color: grey;
  border: 1px solid;
  height: 100%;
  width: 92%;
  top: 0;
  left: 4%;
}
