.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.searchbar {
    display: inline-block;
    width: 100%;
    padding-bottom: 5%;
}

.mock-container {
    width: 100%;
    padding-bottom: 95%
}

.mock-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.mock-content {
  display: inline-block;
  position: absolute;
  background-color: grey;
  border: 1px solid;
  height: 100%;
  width: 92%;
  top: 0;
  left: 4%;
}
