.gauge-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: 15%;

}
#leftgauge {
    position: absolute;
    width: 100%;
    height: 100%;
}
#middlegauge {
    position: absolute;
    width: 100%;
    height: 100%;
}
#rightgauge {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gauge-title{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 2%;
    font-size: 1.3em;
}
