.gauge-container {
    position: relative;
    width: 100%;
    height: 120%;
    padding-bottom: 90%;
    margin-top: 15px;
    margin-bottom: 15px;


}
#leftgauge {
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#middlegauge {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#rightgauge {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gauge-title{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 2%;
    font-size: 1.3em;
}
