.navBar {
  vertical-align: middle;
  padding-top: 10%;
  padding-bottom: 33%;
  background-color: #a5c7ff;
}

.row-eq-height {
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.searchbar-container{
    height: 10vh;
}

.main-app{
    height: 90vh;
}
