#root {
    background-color: #fafafa;
}

* {
    outline-width: 0px;
}

.more-infos {
    height:100%;
}

button .btn.btn-sm.btn-default {
    background-color: white !important;
}

.row-eq-height {
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.searchbar-container{
    position: relative;
    vertical-align: center;
    padding-bottom: 5vh;
    border-bottom: 1px solid rgb(221,221,221);
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(221,221,221);
    background-color: #e7e7e7;
}

.main-app{
    position: relative;

    height: 89vh;
}

img.grenouille-logo {
    width: 100%;
}

img.loading-gif {
    width: 30px;
}

div.no-left-padding{
    padding-left: 0;
}

div.no-right-padding{
    padding-right: 0;
}
#tmp {
    display: none;
}

.DateRangePickerInput {
    height: 40px;
}
.DateInput {
    height: 38px;
}
.DateInput_input {
    height: 38px;
}
