#histogram-container{
    position: relative;
    height: 81vh;
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(221,221,221);
}

.chart-title{
    position: absolute;
    right: 5%;
    top: 5px;
    margin-top: 0;
}

.chart-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.hist-bar:hover{
    border: 10px solid black;

}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.input-panel{
    height: 81vh;
}

.input-panel .inputs-container{
    border: 1px solid rgb(225,225,225);
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 100%;
}

.tag-panel {
    margin-top: 2vh;
}
