#histogram-container{
    position: relative;
    height: 81vh;
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(221,221,221);
    background-color: white;
}

.chart-title{
    position: absolute;
    left: 1.5%;
    margin-top: 0;
}

.chart-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.first-rect{
    fill: #90caf9;
}
.first-rect:hover{
    fill: #64b5f6;
}
.second-rect{
    fill: #ffe082;
}
.second-rect:hover{
    fill: #ffd54f;
}
.third-rect{
    fill: #ffab91;
}
.third-rect:hover{
    fill: #ff8a65;
}
.fourth-rect{
    fill: #e6ee9c;
}
.fourth-rect:hover{
    fill: #dce775;
}
.fifth-rect{
    fill: #ef9a9a;
}
.fifth-rect:hover{
    fill: #e57373;
}
.sixth-rect{
    fill: #a5d6a7;
}
.sixth-rect:hover{
    fill: #81c784;
}
.seventh-rect{
    fill: #80cbc4;
}
.seventh-rect:hover{
    fill: #4db6ac;
}
.heigth-rect{
    fill: #b39ddb;
}
.height-rect:hover{
    fill: #9575cd;
}
.ninth-rect{
    fill: #81d4fa;
}
.ninth-rect:hover{
    fill: #4fc3f7;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.input-panel{
    height: 81vh;
}

.input-panel .inputs-container{
    border-top: 1px solid rgb(225,225,225);
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 100%;
}

.tag-panel {
    margin-top: 2vh;
}

.tags-search-container {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    border-top: 1px solid rgb(225,225,225);
    border-radius: 5px;
}

.chosen-tag {
    display: inline-block;
    color: white;
    background-color: #757575;
    padding-top: 4 px;
    border-radius: 4px;
    height: 34px;
    user-select: none;
    cursor: default;
    margin-right: 1vw;
}

.chosen-tag span{
    padding: 6px 12px;
    vertical-align: middle;
}

.remove-tag-button {
    padding: 6px 12px;
    margin-left: 0.2vw;
    color: rgb(80,80,80);
    cursor: pointer;
}

.remove-tag-button:hover {
    color: rgb(40,40,40);
}
